h1{
    color: blueviolet;
    background-color: bisque;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sample{
    background-color: burlywood;
    text-align: center;
}
#work{
    font-size: 50px;
}
.hello:hover{
    color: aqua;
}